$bg-color: #282c34;

html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: $bg-color;
  color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: block;
  float: right;
  padding: 10px;
}

.password-container {
  @media screen and (orientation: portrait) {
    width: 75vw;
    height: 75vw;
  }

  @media screen and (orientation: landscape) {
    width: 75vh;
    height: 75vh;
  }

  border: 2px solid #fff;
  box-shadow: inset 0 0 5px #fe000000;
  border-radius: 20px;
  padding: 10px;
  background-color: darken($bg-color, 2%);

  line-break: anywhere;
}

.config {
  display: flex;
  align-items: center;
  justify-content: center;

  :nth-child(2),
  :nth-child(4) {
    margin-left: 1rem;
  }

  :nth-child(3) {
    margin-left: 2rem;
  }
}

.regenerate {
  margin-left: 1rem;
  height: 3rem;
  width: 3rem;
  font-size: xx-large;
  background-color: lighten($bg-color, 10%);
  border-radius: 50%;
  border: none;

  transition: background-color 0.2s;
  transition: transform 0.2s;

  &:hover {
    background-color: lighten($bg-color, 20%);
    transform: scale(1.2);
    cursor: pointer;
  }

  &:active {
    background-color: lighten($bg-color, 5%);
    transform: scale(0.8);
  }
}

.app {
  text-align: center;
}

.app-logo {
  display: block;
  pointer-events: none;
  width: 200px;
  height: 200px;
  background: url(./logo.svg);
  background-size: 200px 200px;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 20s linear;
  }
}

.app-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-link {
  color: #61dafb;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
